@page "/BuclesTito"

@*<h3>BucleTito</h3>
<h3>Desde codigo solo desde el codigo</h3>


@for (int i = 0; i < 15; i++) 
{

    <div>
        Fila nro. @i - @if (i % 2 == 0)

        {
            <p>Es Par</p>
        }
        else
        {
            <p>Es Impar</p>
        }
    </div>

}

<br />

@for (int c = 15; c >= 0; c--) 
{
    if (c == 15) 
    { 
        <p>Iniciando Contador</p>    
    }

    <p>Fila nro. @c</p>

    if (c == 0)
     {
        <p>FIN.</p> 
     }

        
}*@




@*Escribir el codigo para que el usuario ingrese un valor y al hacer click en un boton se muestre la suma de todos los numeros desde 1 hasta el numero ingresado.*@

<label>Ingrese un numero para mostrar la suma de todos los numeros has el que ingreso.</label>

<input type="number" name="numero"  @bind="numeroDelUsuario"/> 

<button>Iniciar</button>

<br />

<label name="resultado">Resultado</label>


@code {
    int numeroDelUsuario;
    int resultado;

    void SumarNumerosEnBucle()
    {
        resultado = 0;

        for (int i = 0; i <= numeroDelUsuario; i++)
        {
            resultado = resultado + i; 
                 
        }

    }
}









