@page "/BuclesTito"


<label>Ingrese un numero para mostrar su factorial.</label>

<input type="number" name="numero" @bind="numeroDelUsuario" />

<button @onclick="CalcularFactorial">Iniciar</button>

<br />

@if (numeroDelUsuario < 0)
{
    <label>El número debe ser positivo.</label>
}
else
{
    <label name="resultado">Resultado @resultado</label>
}


@code {
    int numeroDelUsuario;
    int resultado;

    void CalcularFactorial()
    {

        if (numeroDelUsuario > 0)
        {
            resultado = 1;
        }
        else
        {
            resultado = 0;
        }

        for (int i = 1; i <= numeroDelUsuario; i++)
        {
            resultado = resultado * i;
        }

    }
}









