@page "/componentestito"


<h1<p class="text-start">Componentes Tito</p></h1>
<hr />
<mamagui.front.Ejercicios._20210624.Soluciones.SumaParesImpares></mamagui.front.Ejercicios._20210624.Soluciones.SumaParesImpares>
<hr />
<BucleTito></BucleTito>
<hr />
<TitoComponent></TitoComponent>
<hr />

@code {

}
