@page "/ComponentesGuille"
    
<h2 class="p-3 mb-2 bg-dark text-white rounded-lg">Componente Guille</h2>

   <hr/> 
         <mamagui.front.Ejercicios._20210629.TareaPracticaGuille></mamagui.front.Ejercicios._20210629.TareaPracticaGuille>
    <hr />
         <GuilleComponent></GuilleComponent>
    <hr />
     <CompBucleGuille></CompBucleGuille>  


   


@code {

}
