@page "/ComponentesMatis"

<h1>Componentes Matis</h1>

<hr />
<mamagui.front.Ejercicios._20210701.DesafioCicloForMultiplicarHasta15></mamagui.front.Ejercicios._20210701.DesafioCicloForMultiplicarHasta15>

<hr />
<mamagui.front.Ejercicios._20210629.Soluciones.SumaParesImparesMatis></mamagui.front.Ejercicios._20210629.Soluciones.SumaParesImparesMatis>

<hr />
<mamagui.front.Ejercicios._20210624.Soluciones.SolucionMati></mamagui.front.Ejercicios._20210624.Soluciones.SolucionMati>

<hr />
<Bucles></Bucles>

<hr />
<SaulComp></SaulComp>


@code {

}
