@page "/ComponentesGuille"

<h3>Componente Guille</h3>

<hr />
<mamagui.front.Ejercicios._20210629.TareaPracticaGuille></mamagui.front.Ejercicios._20210629.TareaPracticaGuille>
<hr />
<GuilleComponent></GuilleComponent>
<hr />
<CompBucleGuille></CompBucleGuille>




@code {

}
