@page "/componentestito"


<h3>Componentes Tito</h3>
<hr />
<mamagui.front.Ejercicios._20210624.Soluciones.SumaParesImpares></mamagui.front.Ejercicios._20210624.Soluciones.SumaParesImpares>
<hr />
<BucleTito></BucleTito>
<hr />
<TitoComponent></TitoComponent>
<hr />

@code {

}
