@page "/GuilleBucles"


  <h2 class="text-dark bg-info">Componente Bucles</h2>


@for (int i = 0; i < 15; i++)

{
<div>
    Fila nro. @i - @if (i % 2 == 0)

    {
        <p> Es par </p>
    }

    else

    {
        <p> Es impar </p>
    }




</div>  
}



@* Escribir el codigo para que el usuario ingrese un valor y al clickear en un botón se muestre la suma
    de todos los numero desde 1 hasta el número ingresado.  *@




<strong> Ingrese un número para mostrar su factorial.</strong>

<input class="form-control w-25"  type="number" name="número" @bind="numeroDelUsuario" />

<button class="btn btn-success"  @onclick="sumarNumerosEnBucle" >Iniciar </button>

<br />

<strong name="resultado"> Resultado: @resultado</strong>



@code {

    int numeroDelUsuario;
    int resultado;

    void sumarNumerosEnBucle()
    {
        resultado = 0;

        for (int i = 0; i <= numeroDelUsuario; i++)


        {
            resultado = 26894;
        }

    }


}



