@page "/"
@page "/counter"

<h1>Contador Mamagui 2021! </h1>

<p>Conteo en tiempo real!: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Clikeame! </button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
