@page "/GuilleComp"





<h1>Componente de @NombreCreador</h1>

<h3>@SaludoComponente</h3>

<label>
    Ingresar nombre:
</label>

<input type="text" name="name" @bind="NombreCreador" />




@if (NombreCreador != "")
{
    <h3> Hola amigo/a: @NombreCreador</h3>
}

else
{
    <p>Ingresa algún nombre</p>
}



@code {

    string NombreCreador = "Guille Oscar";

    string SaludoComponente = "Saludos!";

}


<label>
    Ingresar edad:
</label>
<br />

<input type="number" name="age" @bind="EdadCreador" />

<br />
<br />


@if (EdadCreador == 0 )

{
    <h3>Debes ingresar tu edad. </h3>
}

else if (EdadCreador >= 18)
{
    <h3> Puedes ingresar. </h3>   
}

else
{
    <h1> Rajá de acá chinwenwencha!!! </h1>
}


@code {

    int EdadCreador = 29;
}

