@page "/TitoComp"

<h1>Proceso de registro.</h1>
<br />
<br />

<label for="InputNombreUsuario">Ingresa tu nombre</label>
<input type="text" name="InputNombreUsuario" @bind="NombreDelUsuario" />
<br />
<br />

<label for="InputApellidoUsuario">Ingresa tu apellido</label>
<input type="text" name="InputApellidoUsuario" @bind="ApellidoDelUsuario" />
<br />
<br />

<label for="InputEdadUsuario">Ingresa tu edad</label>
<input type="number" name="InputEdadUsuario" @bind="EdadDeUsuario" />

<br />
<br />

@if (EdadDeUsuario >= 18)
{
    <h3>Usted puede ingresar al sitio:  @NombreDelUsuario  @ApellidoDelUsuario</h3>
}
else
{
    <h3>Acceso Denegado!</h3>
}


@code {

    string NombreDelUsuario = "Martin";

    string ApellidoDelUsuario = "Bianco";

    int EdadDeUsuario = 18;

}