@page "/TitoComp"

@*<h1>Proceso de registro.</h1>*@
<h3>
    <div>Proceso de Registro.</div> 
    <small class="text-muted">Mamagui te espera.</small>
</h3>
<br />
<br />

<label for="InputNombreUsuario"><p class="text-decoration-underline">Ingresa tu nombre.</p></label>
<input type="text" name="InputNombreUsuario" @bind="NombreDelUsuario" />
<br />
<br />

<label for="InputApellidoUsuario"><p class="text-decoration-underline">Ingresa tu apellido.</p></label>
<input type="text" name="InputApellidoUsuario" @bind="ApellidoDelUsuario" />
<br />
<br />

<label for="InputEdadUsuario"><p class="text-decoration-underline">Ingresa tu edad.</p></label>
<input type="number" name="InputEdadUsuario" @bind="EdadDeUsuario" />

<br />
<br />

@if (EdadDeUsuario >= 18)
{
    <h3><p><em>Usted puede ingresar al sitio:</em></p> @NombreDelUsuario  @ApellidoDelUsuario</h3>
}
else
{
    <h3>Acceso Denegado!</h3>
}


@code {

    string NombreDelUsuario = "Martin";

    string ApellidoDelUsuario = "Bianco";

    int EdadDeUsuario = 18;

}