<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">mamagui.front</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GuilleComp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Guille Component
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TitoComp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tito Component.
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MatiComp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mati Component
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroUsuario">
                <span class="oi oi-account-login" aria-hidden="true"></span> Registrar User (TITO)
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Bucles">
                <span class="oi oi-account-login" aria-hidden="true"></span> DemoBucle
            </NavLink>
        </li>



        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GuilleBucles">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Guille Bucle
            </NavLink>
        </li>



        <li class="nav-item px-3">
            <NavLink class="nav-link" href="buclestito">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bucles tito
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SumaParesImparesMatis">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ejer-29-06-Mati
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Desafio20210701">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Desafio 20210701
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
