@page "/SumaParesImpares"

<div><label> Ingrese un número en cada casillero y luego presione enter: </label></div>

<input type="number" class="form-control" name="número" @bind="numero1Usuario" />

<div> <br /> </div>

<input type="number" class="form-control" name="número" @bind="numero2Usuario" />

<br />







@if (numero1Usuario < 0)
{
    <label>El número debe ser positivo.</label>  
}

<br />

@if (numero2Usuario < 0)
{
    <label>El número debe ser positivo.</label>  
}


<br />
<button @onclick="CalcularMostrar" class="btn-danger">Calcular</button>   


@if (MostrarResultado == true)
{
    <br />
    <br />
    <label>La suma de los pares es: @Resultado1</label>
    <br />
    <label>La suma de los impares es: @Resultado2</label>
}








@code{
    int numero1Usuario;

    int numero2Usuario;

    int Resultado1;

    int Resultado2;

    bool MostrarResultado = true;

    void CalcularMostrar()    
    {

        //aca resolvemos el problema matematico
        //suma de pares del 1 hasta el primer numero ingresado
        Resultado1 = 0;
        for (int i = 0; i <= numero1Usuario; i++)
        {
            if (i % 2 == 0)
            {
                Resultado1 = Resultado1 + i;
            }
        }


        //aca resolvemos el problema matematico
        //suma de impares del 1 hasta el segundo numero ingresado
        Resultado2 = 0;
        for (int i = 0; i <= numero2Usuario; i++)
        {
            if (i % 2 != 0)
            {
                Resultado2 = Resultado2 + i;
            }
        }

    }








}







